.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  width: 165px;
  text-align: center; }

body {
  background-color: #EDBA83; }
  body a {
    color: #F06060; }
    body a:hover {
      color: #5C4B51; }
  body ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0; }
  body ul li {
    list-style: none;
    margin-bottom: 25px; }
  body ul li img {
    cursor: pointer; }
  body h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em; }
  body .main-wrapper {
    padding-top: 50px; }
  body .logocontain h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
    text-align: center;
    color: #5C4B51; }
  body .logocontain .logo {
    max-width: 300px;
    margin: 0px auto; }
  body .mainform label {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #5C4B51;
    font-size: 1.4em;
    display: block; }
  body .mainform div {
    padding: 5px 0; }
  body .mainform input, body .mainform textarea {
    background-color: #F2EBBF;
    color: #5C4B51;
    font-family: 'Oxygen Mono', 'monospace';
    margin: 0 auto;
    max-width: 300px;
    padding: 5px 5px;
    width: 100%;
    display: block;
    border: 2px solid #5C4B51;
    border-radius: 3px; }
  body .mainform textarea {
    max-width: 500px; }
  body .mainform button#login-btn {
    display: block;
    border: 3px solid #5C4B51;
    background-color: #EDBA83;
    margin: 0px auto;
    text-align: center;
    padding: 7px;
    font-family: 'Raleway', sans-serif;
    color: #5C4B51;
    font-weight: 400;
    transition: all .7s;
    -webkit-transtion: all .7s;
    border-radius: 3px;
    margin-top: 20px; }
    body .mainform button#login-btn:hover {
      background-color: #F2EBBF; }
  body .recenttitle {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8em;
    text-align: center;
    padding: 50px 0;
    width: 100%;
    margin: 0px auto;
    display: inline-block; }
  body .vintage {
    -webkit-filter: sepia(100%);
    transition: all .7s;
    -webkit-transtion: all .7s;
    width: 250px; }
    body .vintage:hover {
      -webkit-filter: sepia(0%); }
  body .stats {
    background-color: #5C4B51;
    color: #F06060;
    padding: 50px 30px 75px 30px;
    font-family: 'Oxygen Mono', 'monospace';
    font-size: 2em;
    border-radius: 3px; }
    body .stats h3 {
      font-size: 4.5rem;
      text-align: center; }
  body .stats.col-md-12 {
    text-align: center;
    line-height: 50px; }
  body blockquote {
    border: none; }
  body .like_view {
    padding: 20px 0;
    display: block;
    position: relative;
    top: 20px;
    font-family: 'Raleway', sans-serif; }
    body .like_view form {
      margin-bottom: 15px; }
  body .imagetitle h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 4rem;
    border-top: 2px solid #5C4B51;
    max-width: 300px;
    margin: 0px auto;
    padding: 60px 0;
    text-transform: capitalize; }
  body .imagedesc {
    font-family: 'Oxygen Mono', 'monospace';
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px; }

.postcomment {
  text-align: center;
  padding-top: 60px; }
  .postcomment p {
    font-size: 2em;
    font-family: 'Raleway', sans-serif; }

.img-thumbnail {
  max-width: 250px; }

.list-group-item {
  position: relative;
  display: block;
  padding: 20px 15px;
  font-family: 'Oxygen Mono', 'monospace';
  margin-bottom: -1px;
  border: none;
  background-color: #F2EBBF;
  border-radius: 3px; }

.form-group {
  font-family: 'Raleway', sans-serif; }

.list-group h5 {
  border-top: 2px solid #5C4B51;
  border-bottom: 2px solid #5C4B51;
  padding: 10px; }

.formpadding {
  padding-bottom: 50px; }

.btn-success {
  background-color: #F06060;
  color: #5C4B51;
  border-radius: 3px;
  border: none;
  font-family: 'Raleway', sans-serif; }

.btn-success:hover {
  background-color: #F2EBBF !important;
  color: #5C4B51; }

.nav a.btn-success {
  margin-left: 5px;
  position: relative;
  top: 10px; }

.welcometext {
  font-size: 3rem;
  text-align: center;
  padding: 20px;
  font-family: 'Raleway'; }
